<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__CLI_PATH__</string>
    <string>daemon</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CODELINK_STATE_DIR</key>
    <string>__STATE_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/daemon.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/daemon.stderr.log</string>
</dict>
</plist>
